::-webkit-scrollbar {
    width: 0;
}

body {
    background-color: #040725;
    color: #dee2e6;
    background-size: cover;
    margin: 0;
    font-family: "Poppins", sans-serif;
    line-height: 1;
}

header {
    background-color: #131546;
    display: flex;
    font-size: 26px;
    padding: 5px 50px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    /* margin: -8px -8px 0px; */
}

/* My name */
.Header {
    margin: 0px;
}

h2.Header {
    font-size: 24px;
    font-weight: 500;
}

section {
    margin-right: auto;
}

/* .Conteiner {
  margin-right: auto;
  padding: 20px;
} */

/* Navegation */
nav {
    align-items: center;
    display: flex;
    font-weight: 500;
    font-size: 20px;
}

ul {
    display: flex;
    list-style: none;
}

li {
    margin-left: 30px;
}

/* Main Body */
main {
    /* margin: 40px; */
    padding: 30px;
    width: 100%;
}

.Home {
    display: flex;
    max-width: 1000px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#my_Photo {
    width: 300px;
    padding: 0px 50px 0px 0px;
    border-radius: 10%;
}

.Text {
    font-size: smaller;
    line-height: 1.6;
}

footer {
    background-color: aqua;
}
